{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<body onload="startTime()">
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Search-Services</label>
                <div class="tile-content" id="txt"> </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="post"> 
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-user" name="search_details"
                                        id="exampleInputEmail" aria-describedby="emailHelp"
                                        placeholder="Enter Details of invoice">
                                </div>
                            </div>
                    
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-sm">Search</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="m-0 font-weight-bold text-primary">{{all_invoice_details.id}}</label>
                            </div>
                        </div>
                    </div>                    
                </form>
                <!-- table start -->    
                {% if all_invoice_details %}
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:15%"> Service Id </th>
                                <th style="width:20%"> Genrated Date</th>
                                <th style="width:15%"> Serivce Date</th>
                                <th style="width:20%"> Complated Date</th>
                                <th style="width:15%"> Status </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th> Service Id </th>
                                <th> Genrated Date</th>
                                <th> Serivce Date</th>
                                <th> Complated Date</th>
                                <th> Status </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for i in all_invoice_details.total_service.all %}
                            <tr>
                                <td> {{i.id}} </td>
                                <td> {{i.generate_date}} </td>
                                <td> {{i.service_date}} </td>
                                <td> {{i.complate_date}} </td>
                                {% if i.is_complate %}
                                <td>
                                    <i class='far fa-check-circle' style='font-size:20px;color:green'></i>
                                </td>
                                {% else  %}
                                <td>
                                    <i class="fa fa-times-circle" style="font-size:20px;color:red"></i>
                                </td>
                                {% endif %}
                            </tr>    
                            {% endfor %}

                            {% comment %} <tr>
                                <td> {{all_invoice_details.id}} </td>
                                <td> {{all_invoice_details.id}} </td>
                                <td> </td>
                                <td></td>
                                <td> </td>
                                {% if service.is_complate %}
                                    <td>  <i class='far fa-check-circle' style='font-size:20px;color:green'></i> </td>
                                {% else %}
                                    <td> 
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                                            Pandding
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle"> {{service.invoice.id}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form method='post' action="{% url 'service_status_change' service.id %}">
                                                        {% csrf_token %}
                                                        <div class="modal-body">
                                                            <h1 class="h6 mb-0 text-gray-800">This is the {{ service.invoice.id.total_service}}
                                                                <b> {{service.invoice.customer}} </b> ?
                                                            You can check more details on <a href="{% url 'view_invoice_pdf_detail' id=service.invoice.id %}"> View invoice </a>
                                                            </h1>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>    
                                    </td>
                                {% endif %}
                                <td> 
                                    <a href="{% url 'view_invoice_pdf_detail' id=service.invoice.id %}" class="btn btn-outline-primary"
                                    style="width: 100%; height: 100%; border-radius: 0">
                                        <i class="fa fa-eye"></i>
                                    </a>    
                                </td>
                            </tr> {% endcomment %}
                        </tbody>
                    </table>
                </div> 
                <!-- table end --> 
                {% else %}
                    <label class="m-0 font-weight-bold text-primary"> No service or invoice found !</label>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}


{% endblock %}