{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<body onload="startTime()">
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Complaints Menu</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label class="form-label" for="invoice_name">Customer search</label>
                                <div class="row">
                                    <div class="col-12">
                                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                            <div class="input-group">
                                                <input type="text" id="search_box" class="form-control bg-light border-0 small" placeholder="Search with customer name or mobile number, email..."
                                                    aria-label="Search" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button">
                                                        <i class="fas fa-search fa-sm"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {% comment %} <div class="row">
                                    <div class="col-11">
                                        <div class="card">
                                            <select multiple id="e1">
                                                {% for customer in form.invoice %}
                                                    <option value="{{ customer }}"> {{customer}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                            
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label" for="complaint_customer">Customer</label>
                            {{form.invoice}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="complaint_description">description</label>
                            {{form.description}}
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <input class="btn btn-outline-primary" style="margin: 0 1em 0 1em; width: 40%" type="submit">
                            <input class="btn btn-outline-warning" style="margin: 0 1em 0 1em; width: 40%" type="reset">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block custom_js %}

{% endblock %}